<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Thông báo từ OCOP</title>
</head>
<body>
    <h5>THÔNG TIN NGƯỜI ĐẠI DIỆN</h5>
    <strong>Tên nhà sản xuất: </strong>{{TenNhaSX}}<br />
    <strong>Tên người đại diện: </strong>{{TenNguoiDaiDien}}<br />
    <strong>Mô hình sản xuất: </strong>{{TenMHSX}}<br />
    <strong>Địa chỉ: </strong>{{DiaChi}}<br />
    <strong>Email: </strong>{{Email}}<br />
    <strong>Số điện thoại: </strong>{{SoDienThoai}}<br />
    <hr />
    <h5>THÔNG TIN HỒ SƠ</h5>
    <strong>Tên hồ sơ: </strong>{{TenHoSo}}<br />
    <strong>Tên sản phẩm: </strong>{{TenSanPham}}<br />
    <strong>Ngày đăng ký hồ sơ: </strong>{{NgayDangKy}}<br />
    <hr/>
    <h5>KẾT QUẢ ĐÁNH GIÁ HỒ SƠ</h5>
    <strong>Kết quả:</strong> {{KetQua}}  
    <p>Truy cập website để biết thêm thông tin chi tiết về kết quả đánh giá hồ sơ.</p><br />
    Trân trọng, <br />
    Quản trị viên
</body>
</html>